.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.fl{
	display: flex;
    justify-content: flex-end;
}

.p{
	text-align:right;
}


.w-50 {
    width: 100%;
}
